*,
*::after,
*::before {
  box-sizing: border-box;
}

div,
p,
ul,
ol,
li,
a,
button,
input,
textarea,
form,
img,
body,
html {
  margin: 0;
  padding: 0;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-size: inherit;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}


li {
  list-style: none;
}

input,
textarea {
  background: none;
  outline: none;
  &:focus {
    background: none;
    border: none;
  }
}

section {
  display: block;
  box-sizing: border-box;
}

title {
  display: inline-block;
  font-size: 2em;
  padding: 0.67em 0 0.3em 0;
  font-weight: bold;
  // color: #f00;
}